<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="egorkaSettings" type="EgorkaGame.Egorka.EgorkaSettings,Egorka" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <egorkaSettings culture="ru-RU" IsSpeechEnabled="true" SpeechVolume="100" SpeechRate="2" SpeechIntro="Привет, малыш, давай поиграем!"/>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>